# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
.env

# Tooling caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Distribution / packaging
/dist/
/build/
*.egg-info/
/.eggs/
*.egg

# Editor directories
.vscode/
.idea/

# Testing output
/tests/inputs/
/tests/outputs/

# Legacy exec folder / cache
/rpa_pdf/exec/

# Sumatra
/src/rpa_pdf/exec/sumatrapdfcache/
/src/rpa_pdf/exec/SumatraPDF-settings.txt